@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Fira Code', monospace;
    background-color: #0D0D0D;
    background-image: 
        linear-gradient(rgba(0, 255, 0, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 0, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
}
