@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Fira Code', monospace;
    background-color: #0D0D0D;
    background-image: 
        linear-gradient(rgba(0, 255, 0, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 0, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
}

.PhoneInputInput {
    background: transparent;
    color: #00FF00;
    border: none;
    outline: none;
    width: 100%;
}

.PhoneInputCountry {
    background-color: #1a1a1a;
    border-right: 1px solid #00ff0050;
    padding-right: 0.5rem;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  to { transform: translate(0); }
}
.glitch-text:hover {
    animation: glitch 0.2s linear infinite;
}
@keyframes led-text-animation {
    0%   { color: #00FF00; text-shadow: 0 0 10px #00FF00; }
    10%  { color: #00FFFF; text-shadow: 0 0 10px #00FFFF; }
    20%  { color: #FF00FF; text-shadow: 0 0 10px #FF00FF; }
    30%  { color: #FFFF00; text-shadow: 0 0 10px #FFFF00; }
    40%  { color: #FF007F; text-shadow: 0 0 10px #FF007F; }
    50%  { color: #007FFF; text-shadow: 0 0 10px #007FFF; }
    60%  { color: #FF7F00; text-shadow: 0 0 10px #FF7F00; }
    70%  { color: #7F00FF; text-shadow: 0 0 10px #7F00FF; }
    80%  { color: #00FF7F; text-shadow: 0 0 10px #00FF7F; }
    90%  { color: #FF4500; text-shadow: 0 0 10px #FF4500; }
    100% { color: #00FF00; text-shadow: 0 0 10px #00FF00; }
}
.led-text {
  animation: led-text-animation 2.5s linear infinite;
}
.btn-hacker {
    background: transparent;
    border: 2px solid #00FF00;
    color: #00FF00;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
}
.btn-hacker:hover {
    background: #00FF00;
    color: #000;
    box-shadow: 0 0 20px #00FF00;
}
 .btn-hacker-secondary {
    background: transparent;
    border: 2px solid #00FFFF;
    color: #00FFFF;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
}
.btn-hacker-secondary:hover {
    background: #00FFFF;
    color: #000;
    box-shadow: 0 0 20px #00FFFF;
}
